body {
	padding:0px;
	margin: 0px;
	background:#FAFAFC;
	color:#FFFFFF;
	font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%
}

h1
{
	color:red;
	text-align:center;
}

p
{	
	font-size: 16px;
}

a, a:visited
{
	color:red;
}

#info
{
	bottom: 0px;
	margin: 10px;
	width: 400px;
	position:fixed;
	background:#8CC6CC;
	padding:5px 10px;
}

#scrollupdemo {
	width:600px;
	margin:0px 0px 0px auto;
	max-height: 100%;
	overflow:auto;
}

#scrollupdemo ul {
	list-style:none;
	width:90%;
	margin:0px auto;
	padding:0px;
}

#scrollupdemo ul li {
	margin:10px 0px;
	width:100%;
	background:#8CC6CC;
	padding:5px 10px;
}

.loading {
	background:#8CC6CC;
	color:red;
	font-size:20px;
	padding:5px 10px;
	text-align:center;
	width:450px;
	margin:0px auto;
	display:none;
}